body {
    background : url(../img/abstract-background.jpg) no-repeat;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.info h3 {
    margin-bottom : 25px;
    font-weight : bold;
    color : white;
}

div.info {
    box-shadow : 1px 1px 10px 0px #00b3b3 inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.product {
    height : 400px;
}

.product h2 {
}

.product a {
    display : block;
    padding : 10px 5px 10px 30px;
    margin : 5px 0px 5px 0px;

    color : white;
    padding : 8px;
    background : #0059b3;
    text-decoration : none;
}

.product a:hover {
    color : white;
    background : #00264d;
    box-shadow : 0px 1px 6px 0px #666666;

    transition : background 0.5s linear, box-shadow 0.5s linear;
    -moz-transition : background 0.5s linear, box-shadow 0.5s linear;
    -webkit-transition : background 0.5s linear, box-shadow 0.5s linear;
    -ms-transition : background 0.5s linear, box-shadow 0.5s linear;
    -o-transition : background 0.5s linear, box-shadow 0.5s linear;
}

.product h4 {
    padding : 5px;
    margin-bottom : 0px;
}

.product .accPass {
    padding : 10px;
    border-left : 5px solid #00ace6;
}

.product ul {
    border-left : 5px solid #00ace6;
}
